@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #000000;
  padding: 0px 30px;
  height: 100px;
}
header .navbar .navbar-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
header .navbar .navbar-logo .navbar-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
header .navbar .navbar-logo .navbar-logo-container img {
  filter: invert(100%) sepia(1%) saturate(7426%) hue-rotate(263deg) brightness(98%) contrast(109%);
  width: 60px;
}
header .navbar .navbar-logo .navbar-logo-container p {
  color: #ffffff;
  font-size: 24px;
  margin-right: 10px;
}
header .navbar .navbar-logo .navbar-logo-container:hover {
  transition: 0.3s;
  opacity: 0.8;
}
header .navbar .navbar-logo .tag-help {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  padding-left: 10px;
  border-left: 2px solid #ffffff;
}
header .navbar .navbar-logo .tag-help:hover {
  text-decoration: underline;
}
header .navbar .navbar-account {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
header .navbar .navbar-account .diseño-btn, header .navbar .navbar-account .signin, header .navbar .navbar-account .request {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}
header .navbar .navbar-account .request {
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}
header .navbar .navbar-account .request:hover {
  background-color: #303030;
}
header .navbar .navbar-account .signin {
  border: 1px solid #ffffff;
  background-color: #4c5fd5;
  color: #ffffff;
}
header .navbar .navbar-account .signin:hover {
  background-color: #3046d7;
}

main .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dadbf1;
  height: 450px;
}
main .search-container p {
  font-size: 100px;
}
main .search-container .search-form {
  display: flex;
  border: 2px solid #000000;
  border-radius: 5px;
}
main .search-container .search-form #search-bar {
  height: 50px;
  width: 400px;
  padding: 0px 10px;
  border: transparent;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
}
main .search-container .search-form .btn-submit {
  border-radius: 0px 5px 5px 0px;
  height: 50px;
  width: 50px;
  border: transparent;
  background-color: #ffffff;
  background-image: url(resourse/svg/right-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  cursor: pointer;
}
main .search-container .search-form .btn-submit:hover {
  opacity: 0.8;
}
main .box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  height: 1000px;
  padding: 100px 100px;
  align-items: center;
}
main .box-container .equal-values-box, main .box-container .box-space6, main .box-container .box-space5, main .box-container .box-space4, main .box-container .box-space3, main .box-container .box-space2, main .box-container .box-space1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  width: 100%;
  height: 100%;
}
main .box-container .equal-values-box img, main .box-container .box-space6 img, main .box-container .box-space5 img, main .box-container .box-space4 img, main .box-container .box-space3 img, main .box-container .box-space2 img, main .box-container .box-space1 img {
  width: 90px;
}
main .box-container .equal-values-box .content-box, main .box-container .box-space6 .content-box, main .box-container .box-space5 .content-box, main .box-container .box-space4 .content-box, main .box-container .box-space3 .content-box, main .box-container .box-space2 .content-box, main .box-container .box-space1 .content-box {
  display: flex;
  flex-direction: column;
}
main .box-container .equal-values-box .content-box p, main .box-container .box-space6 .content-box p, main .box-container .box-space5 .content-box p, main .box-container .box-space4 .content-box p, main .box-container .box-space3 .content-box p, main .box-container .box-space2 .content-box p, main .box-container .box-space1 .content-box p {
  font-size: 18px;
  padding: 10px 0px;
  text-align: justify;
}
main .box-container .equal-values-box .content-box a, main .box-container .box-space6 .content-box a, main .box-container .box-space5 .content-box a, main .box-container .box-space4 .content-box a, main .box-container .box-space3 .content-box a, main .box-container .box-space2 .content-box a, main .box-container .box-space1 .content-box a {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  text-decoration: none;
  padding-top: 20px;
  color: #3046d7;
}
main .box-container .equal-values-box .content-box a:hover, main .box-container .box-space6 .content-box a:hover, main .box-container .box-space5 .content-box a:hover, main .box-container .box-space4 .content-box a:hover, main .box-container .box-space3 .content-box a:hover, main .box-container .box-space2 .content-box a:hover, main .box-container .box-space1 .content-box a:hover {
  text-decoration: underline;
}
main .box-container .box-space1 img {
  filter: invert(80%) sepia(10%) saturate(27%) hue-rotate(329deg) brightness(97%) contrast(88%);
}
main .box-container .box-space2 img {
  filter: invert(10%) sepia(98%) saturate(3128%) hue-rotate(353deg) brightness(91%) contrast(117%);
}
main .box-container .box-space3 img {
  filter: invert(14%) sepia(80%) saturate(2524%) hue-rotate(231deg) brightness(80%) contrast(141%);
}
main .box-container .box-space4 img {
  filter: invert(29%) sepia(83%) saturate(1474%) hue-rotate(153deg) brightness(94%) contrast(102%);
}
main .box-container .box-space5 img {
  filter: invert(7%) sepia(100%) saturate(5366%) hue-rotate(294deg) brightness(95%) contrast(100%);
}
main .box-container .box-space6 img {
  filter: invert(37%) sepia(98%) saturate(567%) hue-rotate(26deg) brightness(101%) contrast(101%);
}

footer {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #000000;
  padding: 40px 80px;
  height: 400px;
}
footer .footer-information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
footer .footer-information .font-texture-information, footer .footer-information .footer-company .company-email, footer .footer-information .footer-company .company-options, footer .footer-information .footer-community, footer .footer-information .footer-resources, footer .footer-information .footer-abstract {
  display: flex;
  flex-direction: column;
}
footer .footer-information .font-texture-information p, footer .footer-information .footer-company .company-email p, footer .footer-information .footer-company .company-options p, footer .footer-information .footer-community p, footer .footer-information .footer-resources p, footer .footer-information .footer-abstract p {
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 15px;
}
footer .footer-information .font-texture-information a, footer .footer-information .footer-company .company-email a, footer .footer-information .footer-company .company-options a, footer .footer-information .footer-community a, footer .footer-information .footer-resources a, footer .footer-information .footer-abstract a {
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
footer .footer-information .font-texture-information a:hover, footer .footer-information .footer-company .company-email a:hover, footer .footer-information .footer-company .company-options a:hover, footer .footer-information .footer-community a:hover, footer .footer-information .footer-resources a:hover, footer .footer-information .footer-abstract a:hover {
  text-decoration: underline;
}
footer .footer-information .footer-company {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}
footer .footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 40%;
}
footer .footer-copyright img {
  filter: invert(100%) sepia(1%) saturate(7426%) hue-rotate(263deg) brightness(98%) contrast(109%);
  width: 50px;
}
footer .footer-copyright p {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  header .navbar {
    grid-template-columns: repeat(2, auto);
    padding: 0px 10px;
  }
  header .navbar .navbar-logo .navbar-logo-container img {
    width: 40px;
  }
  header .navbar .navbar-logo .navbar-logo-container p {
    display: none;
  }
  header .navbar .navbar-logo .tag-help {
    display: none;
  }
  header .navbar .navbar-account {
    gap: 5px;
  }
  header .navbar .navbar-account .diseño-btn, header .navbar .navbar-account .request, header .navbar .navbar-account .signin {
    padding: 10px 10px;
    font-size: 18px;
  }
  main .search-container p {
    font-size: 40px;
  }
  main .search-container .search-form #search-bar {
    height: 40px;
    width: 250px;
  }
  main .search-container .search-form .btn-submit {
    height: 40px;
    width: 40px;
  }
  main .box-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    height: 1500px;
    padding: 100px 40px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 40px;
    height: 600px;
  }
  footer .footer-information {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  footer .footer-copyright {
    padding-left: 50%;
  }
  footer .footer-copyright img {
    width: 70px;
  }
}/*# sourceMappingURL=styles.css.map */